body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  font-family: 'Times New Roman';
  padding: 2px;
  list-style: none;
  list-style-type: none;
  font-weight: none;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #999;
  font-size: 2em;
}

a:hover {
  text-decoration: underline;
}

h1{
  font-size: 5em;
  line-height: 3em;
  color: #4169E1;
  font-family: 'Times New Roman';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 2px solid #d5d5d5;
    font-size: 1.5em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
