body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  font-family: 'Times New Roman';
  padding: 2px;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size:10px;
  line-height: 3px;
  color: #4169E1;
  font-family: 'Times New Roman';
}
h3 {
  font-size: 5px;
  line-heigt:2px;
  color: rgb(0,0,0);
  font-family: 'Times New Roman';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #000000;
	font-family: 'Times New Roman';
}
li1{
	font-size:5px;
	font-family:'Times New Roman';
	color: #000000;
	
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}
ul.posts { 
    margin: 20px auto 30px; 
    font-size: 1em;
}

ul.posts li {
  list-style: none;
}
