body {
  margin: 40px auto;
  width: 90%;
}
nav ul, footer ul {
  font-family: 'Times New Roman';
  padding: 2px;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #FF4500;
  font-size: 2em;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  color: #4169E1;
  font-family: 'Times New Roman';
}
h3 {
  font-size: 1.5em;
  line-heigt:1em
  color: rgb(0,0,0);
  font-family: 'Times New Roman';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}
ul.posts { 
    margin: 20px auto 30px; 
    font-size: 1em;
}

ul.posts li {
  list-style: none;
}
