body {
  margin: 0,auto;
  width: 100%;
  background-color: rgb(200,200,220);
  color: #555;
  font-family: Arial,Helvetica, Times New Roman;
  font-size: 16px;
  line-height: 1.5em;  
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}
#main-header{
  color: #fff;
  height: 80px;
}
#main-header h1 {
  font-size: 2em;
  line-height: 1em;
  color: blue;/*4169E1;*/
  font-family: 'Times New Roman';
}

.nav-image {
  background-image: url("../images/picture/1.gif");
  background-color: #cccccc;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#navbar{
  background-color: lightblue;
  color: #fff;
}
#navbar ul {
  font-family: 'Times New Roman';
  padding: 0;
  font-weight: bold;
  margin: 0;
  list-style: none;
}
#showcase{
  background-image: url('../images/life/6.jpg'); 
  background-position: center;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}
#showcase h1{
  color: rgb(10,10,250);
  font-size: 50px;
  line-height: 1.5em;
  padding-top: 40px;
}
#main{
  float: left;
  width:60%;
  padding: 20px;
  box-sizing: border-box;
}
#sidebar{
  float: right;
  width:30%;
  padding: 10px;
  margin-top: 40px;
  background-color: pink;
  box-sizing: border-box;
}
#sidebar p{
  color: rgb(90,70,255);
  font-size: 30px;
  font-family: Times New Roman;
}
#lower-image{
  background-image: url('../images/life/6.jpg'); 
  background-position: center;
  min-height: 100% ;
  margin-bottom: 30px;
  text-align: center;
  transform: rotate(0deg);

}
ul li {display: inline-block;}
ul li:hover {background: rgb(60,180,113);}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
nav ul li ul li { 
  background: rgb(60,220,113); 
  display: block; 
}
nav ul li ul li a {display:block !important;} 
nav ul li ul li:hover {background: lightgreen;}
a{
  text-decoration: none;
  font-size: 25px;
  display:inline-block;
  padding:5px;

}
a:hover {
  text-decoration: underline;
}


h3 {
  font-size: 1.5em;
  line-heigt:1em
  color: rgb(0,0,0);
  font-family: 'Times New Roman';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}

footer{
    border-top: 1px solid #d5d5d5;
    font-size: 15px;
	position: relative;
	margin-top: 30%;
	left:0;

}
footer ul{
	font-family: "Times New Roman";
	font-weight: bold;
	bottom:0;	
}
footer ul li {
  display: inline;
  margin-right: 20px;
}

